* {
  margin: 0;
}

body {
  font-size: 0.8em;
  margin: auto;
  max-width: 1440px;
  font-family: 'Roboto', cursive;
}

header {
  background-color: #D2D2D2;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo--header img {
  width: 150px;
  height: 70px;
}

nav {
  width: 75%;
}

nav #menu-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav #menu-navigation li {
  font-size: 16px;
}

nav #menu-navigation li a {
  color: black;
  text-decoration: none;
}

nav #menu-navigation li a:hover {
  color: blue;
}

nav #menu-navigation li i {
  margin-right: 10px;
}

footer {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-around;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
}

.list--footer {
  list-style: none;
}

.list--footer li {
  margin: 5px 0px;
}

.list--footer a {
  color: black;
  text-decoration: none;
}

.list--footer i {
  font-size: 1.5em;
}

#banniere {
  background-image: url("../../Images/Banniere.jpg");
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banniere div {
  background-color: rgba(230, 150, 100, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#banniere div h1 {
  width: 300px;
}

#products {
  background-color: #f2f2f2;
}

#products h2 {
  margin-left: 30px;
  text-decoration: underline;
  font-size: 2em;
}

#selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  background-color: white;
  height: 325px;
  width: 50%;
  border: 1px solid black;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.products__title {
  font-size: 2em;
  margin: 5px 0px;
}

.products__image {
  height: 250px;
  width: 90%;
}

.products__price {
  padding: 10px 0px;
}

#informations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.informations {
  font-size: 1.2em;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.informations__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-product h2 {
  font-weight: 700;
  text-decoration: underline;
  font-size: 3em;
}

.one-product__image {
  height: 250px;
  width: 30%;
}

.one-product__description {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.one-product__text {
  width: 60%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-product span, .one-product label {
  text-decoration: underline;
}

.one-product__add-cart {
  width: 250px;
  height: 30px;
  font-size: 1.4em;
  margin-bottom: 20px;
}

#product--one {
  background-color: #f2f2f2;
  padding: 20px 30px 20px 30px;
}

.cart-product {
  display: flex;
  flex-direction: rox;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.cart-product img {
  height: 40px;
  width: 40px;
}

.formulaire {
  display: flex;
  flex-direction: column;
}

.formulaire form {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=main.css.map */