* {
  margin: 0;
}

body {
  font-size: 0.8em;
  margin: auto;
  max-width: 1440px;
  font-family: 'Roboto', cursive;
}

header {
  background-color: #D2D2D2;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo--header img {
  width: 150px;
  height: 70px;
}

nav {
  width: 75%;
}

nav #menu-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav #menu-navigation li {
  font-size: 16px;
}

nav #menu-navigation li a {
  color: black;
  text-decoration: none;
}

nav #menu-navigation li a:hover {
  color: blue;
}

nav #menu-navigation li i {
  margin-right: 10px;
}

footer {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-around;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
}

.list--footer {
  list-style: none;
}

.list--footer li {
  margin: 5px 0px;
}

.list--footer a {
  color: black;
  text-decoration: none;
}

.list--footer i {
  font-size: 1.5em;
}

#banniere {
  background-color: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banniere div {
  background-color: rgba(159, 147, 140, 0.996);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#banniere div h1 {
  width: 50%;
  text-align: center;
}

#products {
  background-color: #f2f2f2;
}

#products h2 {
  margin-left: 30px;
  text-decoration: underline;
  font-size: 2em;
}

#selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  background-color: white;
  height: 325px;
  width: 50%;
  border: 1px solid black;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.product__title {
  font-size: 2em;
  margin: 5px 0px;
}

.product__image {
  height: 250px;
  width: 90%;
}

.product__price {
  padding: 10px 0px;
}

#informations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.informations {
  font-size: 1.2em;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.informations__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-product h2 {
  font-weight: 700;
  text-decoration: underline;
  font-size: 3em;
}

.one-product__image {
  height: 250px;
  width: 30%;
}

.one-product__description {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.one-product__text {
  width: 60%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-product span, .one-product label {
  text-decoration: underline;
}

.one-product__add-cart {
  width: 250px;
  height: 30px;
  font-size: 1.4em;
  margin-bottom: 20px;
}

#product--one {
  background-color: #f2f2f2;
  padding: 20px 30px 20px 30px;
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.cart-product img {
  height: 40px;
  width: 40px;
}

#price-total {
  margin: 5px 15px 5px 0;
  display: flex;
  justify-content: right;
  text-decoration: underline;
  font-size: 1.3em;
}

#price {
  font-weight: bold;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: flex;
  margin: 5px;
}

label {
  margin: 0 5px;
  text-decoration: underline;
}

#adress, #city {
  width: 200px;
}

.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.confirm-container h2 {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */