@mixin flexbox-center($disposition:row){
    display: flex;
    flex-direction: $disposition;
    justify-content: center;
    align-items: center;  
}

@mixin desktop($largeur-media:600px) {
    @media  screen and (max-width : $largeur-media){
        @content;
    }
}