$color-primary : #9356DC;
$color-secondary :#FF79DA;
$color-tertiary :#99E2D0;
$color-white:#ffffff;
$color-background:#eaeaea;
$color-primary-lighten:lighten($color-primary,10);
$color-secondary-lighten:lighten($color-secondary,10);