#banniere{
    background-image: url("../../Images/Banniere.jpg");
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        background-color: rgba(230,150,100,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
             width: 300px;
        }
    }
}

#products{
    background-color: #f2f2f2;
    h2{
        margin-left: 30px;
        text-decoration: underline;
        font-size: 2em;
    }
}    

#selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product{
    background-color: white;
    height: 325px;
    width: 50%;
    border: 1px solid black;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-decoration: none;
    &__title{
        font-size: 2em;
        
        margin: 5px 0px;
    }
    &__image{
        height: 250px;
        width: 90%;
    }
    &__price{
        padding: 10px 0px;
    }
}

#informations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.informations{
    font-size: 1.2em;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__choice{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
