.cart-product{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    img{
        height: 40px;
        width: 40px;
    }
    margin: 10px;
}

#price-total{
    margin : 5px 15px 5px 0;
    display: flex;
    justify-content: right;
    text-decoration: underline;
    font-size: 1.3em;
}

#price{
    font-weight: bold;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block{
    display: flex;
    margin: 5px;
    
}

label{
    margin:  0 5px ;
    text-decoration: underline;
}

#adress,#city{
    width : 200px;
}